%button-styles {
    width: 100%;
    padding: 10px;
    background-color: $titulos-color;
    color: $claro-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  
    &:hover {
      background-color: $verde-color;
      color: $primary-color;
    }
}


%textarea-styles {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}


%formulario-style {
    width: 50%;
    max-width: 500px;
    margin: 40px auto;
    background-color: #6cb3c5;
    padding: 20px;
    border-radius: 10px;
}
  