$titulos-color: #be237f;
$primary-color: #4d284c;
$claro-color: aliceblue;
$blue-color: #6cb3c5;
$rosa-color: #f461ab;
$rosa-dos-color: #ff7ac4;
$verde-color: #abf561;
$verde-dos-color: #c5ff7a;
$blue-dos-color: #6bb5ff;
