.navbar {
    background-color: $rosa-color;
    
    .navbar-brand {
      font-size: 35px;
      color: $primary-color;
    }
    .collapse.navbar-collapse {
      .navbar-nav {
        .nav-item {
          a{
            &.nav-link{
              font-size: 15px;
              color: $primary-color;
            }
            &:hover{
              color: $claro-color;
            }
          }
  
        }
      }
    }
  }